.graph {
  position: relative;
  overflow: auto;
  margin: 5px auto;
  width: 70vw;
  height: 80vh;
  background: url('../assets/grid.gif');
  cursor: default;
}

.flow {
  stroke-dasharray: 8;
  animation: dash 0.5s linear;
  animation-iteration-count: infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: -16;
  }
}
